* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0px;
    background-color: #f1f3f6b9;
}

.nav {
    height: 3.5rem;
    position: sticky;
    top: 0;
    /* left: 0;
    right: 0; */
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    background-color: #2874f0;
}

.nav>div {
    display: flex;
    height: 100%;
    /* width: 100%; */
    align-items: center;
    justify-content: center;
}

.nav-left {
    margin-right: 4rem;
    display: flex;
    align-content: center;
    justify-content: center;
}

.nav a {
    text-decoration: none;
    color: white;
}

.nav-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-style: italic;
    margin-right: 0.5rem;
}

.nav-search>button {
    cursor: pointer;
    background-color: white;
    border: 1px;
    height: 2.25rem;
    width: 2.75rem;
    padding: 0.25rem 0.75rem 0rem 0.5rem;
}

.nav-right {
    display: flex;
    margin-left: 4rem;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    column-gap: 3.5rem;
}

.nav-login {
    display: flex;
    height: 100%;
    align-items: center;
    background-color: white;
}

.nav-login a {
    text-decoration: none;
    padding: 5px 40px;
    color: #2874f0;
}

input {
    height: 2.25rem;
    width: 29.22rem;
    padding: 0 1rem;
    border: 0;
}

input:focus {
    border: 0;
    outline: none;
}


.categories {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 3.75rem;
    padding: 0.625rem 0rem;
}

.categories a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: black;
}

.categories img {
    height: 4rem;
    width: 4rem
}

.category-box {
    text-align: center;
}

.containers {
    /* background-color: #f1f3f600 ; */
    /* display: flex; */
    width: 100%;

    /* justify-content: center; */
    /* height: 500px; */
}

.container {
    margin:1rem 6rem;
    display: grid;
    grid-template-columns: 7fr 1fr;
    column-gap: 1rem;
    /* width: 87%; */
}

.container-header {
    display: flex;
    min-width: 100%;
    padding: 1rem;
    border-bottom: 1px solid rgb(197, 190, 190);
    justify-content: space-between;
    /* justify-content: center;
    align-items: center; */
}

.container-title {
    /* float: left; */
    column-gap: 0.625rem;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.container-title>span {
    font-size: 1.4rem;
}

.container-title img {
    height: 1.625rem;
    width: 1.625rem;
    margin-left: 1rem;
}

.container-view_all {
    /* float: right; */
    background-color: #2874f0;
}

.container-view_all>a {
    font-weight: 900;
    font-size: 0.8rem;
    text-decoration: none;
    display: inline-block;
    padding: 0.5rem 1.2rem;
    color: white;
}

.container-left {
    background-color: white;
}

.container2{
    background-color: white;
    margin:1rem 6rem;
    /* display: grid;
    grid-template-columns: 7fr 1fr; */
    column-gap: 1rem;
}